@charset "UTF-8";
/* основний колір сторінки: background: #F5F5F5;*/
/* загаловки: color: #212121;*/
/* основний тексту: color: #757575;*/
/* колір посилань знизу: color: rgba(255, 255, 255, 0.6);*/
/* колір посилань зверху: color: #2196F3; */
/*<span class="letter">HTML</span>*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.15;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 88px;
    /*margin-left: 15px;
    */
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    padding: 0px;
  }
}

.studio-logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.15;
}
@media screen and (min-width: 768px) {
  .studio-logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.studio-logos {
  color: #f5f5f5;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .studio-logos {
    font-size: 24px;
    line-height: 1.17;
  }
}

/*розміщення хедер*/
.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header .conteiner {
  position: relative;
  align-items: center;
  display: flex;
}

/* розміщення навігації + підкреслення*/
/*Іконики контактів*/
.auth-nav__icon-mail {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover .auth-nav__icon-mail, .auth-nav__link:hover .auth-nav__icon-mail {
  fill: #2196f3;
}

@media screen and (max-width: 480px) {
  .auth-nav__icon-mail {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__icon-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon-mail {
    width: 16px;
    height: 12px;
    padding: 0px;
    margin-right: 10px;
  }
}
.auth-nav__icon-phone {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover .auth-nav__icon-phone, .auth-nav__link:focus .auth-nav__icon-phone {
  fill: #2196f3;
}

@media screen and (max-width: 480px) {
  .auth-nav__icon-phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__icon-phone {
    width: 10px;
    height: 14px;
    padding: 0px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon-phone {
    width: 10px;
    height: 16px;
    padding: 0px;
    margin-right: 10px;
  }
}
/* Хедер+auth-nav*/
@media screen and (min-width: 480px) {
  .auth-nav__link {
    font-size: 24px;
    line-height: 1.17;
    color: #757575;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    color: #757575;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 480px) {
  .auth-nav__current {
    font-size: 34px;
    line-height: 1.17;
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__current {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon-phone {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__icon-phone:hover, .auth-nav__icon-phone:focus {
    color: #2196f3;
  }
}
@media screen and (max-width: 480px) {
  .auth-nav {
    margin-top: 306px;
    margin-bottom: 64px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    text-align: left;
    padding-bottom: 21px;
    padding-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 480px) {
  .auth-nav__contact {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .auth-nav__contact:nth-child(2) {
    padding-top: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__contact {
    align-items: center;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__contact:nth-child(2) {
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__contact {
    /*margin-right: 40px;*/
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.auth-nav__contact .auth-nav__contact:nth-child(2) {
  margin-right: 200px;
  padding-top: 32px;
}

@media screen and (min-width: 1200px) {
  .auth-nav__contact:first-child {
    margin-right: 40px;
  }
}
/* хедер+site-nav */
.site-nav__current::after {
  position: absolute;
  bottom: 0;
  content: "";
  border-bottom: 4px solid #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
@media screen and (min-width: 480px) {
  .site-nav__current::after {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__current::after {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__current::after {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .site-nav__current {
    color: #2196f3;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 480px) {
  .site-nav__current {
    font-size: 34px;
    line-height: 1.17;
    color: #2196f3;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.site-nav__link:hover .icon-mail,
.site-nav__link:focus .icon-mail,
.site-nav__link:hover .icon-phone,
.site-nav__link:focus .icon-phone {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
  }
  .site-nav__link:hover,
.site-nav__link:focus {
    color: #2196f3;
  }
}
@media screen and (max-width: 480px) {
  .site-nav__link {
    position: relative;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    color: #212121;
  }
  .site-nav__link:hover,
.site-nav__link:focus {
    color: #2196f3;
  }
}
@media screen and (max-width: 480px) {
  .site-nav {
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 221px;
  }
  .site-nav__navigation {
    margin-right: 50px;
    position: relative;
  }
  .site-nav__navigation:nth-child(2) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) and (min-widht: 1200px) {
  .site-nav__navigation:nth-child(2) {
    display: flex;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-right: 96px;
  }
  .site-nav__navigation {
    margin-right: 50px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__navigation:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 305px;
  }
  .site-nav__navigation {
    margin-right: 50px;
    position: relative;
  }
}

/* герой , заголовок + головна кнопка*/
.hero {
  background-color: #212121;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header-480.jpg);
  background-size: 480px 400px;
}
@media screen and (min-devise-pixel-ratino: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header-900.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header-768.jpg);
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 481px) and (min-devise-pixel-ratino: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header-1536.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/comp/header-1600.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (min-devise-pixel-ratino: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/comp/header-3200.jpg);
  }
}

/*.hero {
  background-color: $title-text-color;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;

  @media screen and (max-width: 480px) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/mobile/header-480.jpg);

  @media screen and (min-devise-pixel-ratino:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/mobile/header-900.jpg);
  }
}

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../images/tablet/header-768.jpg);

    @media screen and (min-devise-pixel-ratino:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(../images/tablet/header-1536.jpg);
      }
    }

  @media screen and (min-width: 769px) {
    padding-top: 200px;
    padding-bottom: 200px;
    /*height: 600px;*/
/*background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/comp/header-1600.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../images/comp/header-3200.jpg);
    }
  }

}*/
.hero__titel {
  text-align: center;
  margin-bottom: 30px;
  color: #f5f5f5;
  font-size: 26px;
  line-height: 1.615;
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .hero__titel {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button-primery {
  background: #2196f3;
  color: #f5f5f5;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__button-primery {
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button-primery {
    width: 200px;
    height: 50px;
  }
}
.hero__button-primery:hover, .hero__button-primery:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*Кнопки портфоліо*/
.button__secondary {
  background: #f5f4fa;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-align: center;
  display: inline-flex;
  text-align: center;
  min-width: 38px;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Кнопки  портфоліо розміщення*/
.button__roster {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .button__roster {
    /* display: inline-flex;*/
    text-align: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .button__roster {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
  }
}

.button__wight-button {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) and (max-width: 469px) {
  .button__wight-button:nth-child(3) {
    margin-right: 39px;
  }
}
/*@media screen and  (max-width: 768px) { 
  .button__wight-button:nth-child(3){
  margin-right: 8px;
  }
}  */
@media screen and (min-width: 1200px) {
  .button__wight-button:first-child {
    margin-left: 297px;
  }
}
/*Переваги. розміщення*/
.advantage {
  padding-bottom: 0px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .advantages__list .advantages__list:nth-child(2n) {
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 2);
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
    justify-content: center;
  }
}

/*Іконки переваг*/
.advantage__box-item {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  max-width: 450px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .advantage__box-item {
    max-width: 354px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__box-item {
    max-width: 270px;
    display: flex;
    justify-content: center;
  }
}

/*Чим ми займаємося. розміщення + тумба знаписом*/
@media screen and (max-width: 1199px) {
  .examples {
    display: none;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
}

.card-list__card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.card-list-list {
  flex-basis: calc(100% - 90px)/3;
  justify-content: space-around;
}

.card-list__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Портфоліо, наші роботи, розміщення + блакитний оверлей*/
.example-list {
  padding: 0px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 56px;
  }
}

.content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .content {
    flex-basis: calc(100% - 60px)/3;
  }
}

.work {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work:hover,
.work:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/*тумба*/
.tumba {
  position: relative;
  max-width: 450px;
  /*height: 294px;*/
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .tumba {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .tumba {
    max-width: 370px;
  }
}

.work {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .work {
    margin-bottom: 0px;
  }
  .work .work:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    margin-bottom: 0px;
  }
}

.tumba__overlay {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center top;
  transform: translateY(100%);
}

.work:hover .tumba__overlay {
  transform: translateY(0);
}

/*Секція команда розміщення*/
.comand {
  margin: 0;
  background-color: #f5f4fa;
  padding-bottom: 30px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .comand {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner .alist {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 30px;
  }
}

.alist {
  flex-basis: calc((100% - 90px) / 4);
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .alist {
    flex-basis: calc((100% - 30px) / 3);
    /*justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 0;*/
  }
  .alist .alist:nth-child(n+3) {
    margin-bottom: 0px;
  }
}

.alist__team {
  text-align: center;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .alist__team {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .alist__team {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .alist__team {
    max-width: 270px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.comand .conteiner {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .comand .conteiner {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .comand .conteiner {
    margin-bottom: 0px;
  }
}

.conteiner .section-titel {
  margin-bottom: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .conteiner .section-titel {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner .section-titel {
    margin-bottom: 50px;
  }
}

.alist__person {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 0;
  max-width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .alist__person {
    max-width: 354px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .alist__person {
    max-width: 270px;
    margin-bottom: 0px;
  }
}

.person-comand {
  padding-bottom: 0;
}

/*Ікони соцмереж для команди*/
.icon-team__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding: 0px;
}

.icon-team__sociallink {
  display: inline-flex;
  fill: #afb1b8;
  background-color: #ffffff;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 0;
}

.icon-team__ellement {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  color: #afb1b8;
  transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team__link:hover, .icon-team__link:focus {
  background-color: #2196f3;
  fill: solid #ffffff;
}
.icon-team__link:hover .icon-team__ellement, .icon-team__link:focus .icon-team__ellement {
  fill: #f5f5f5;
}

/*Постійні клієнти*/
.client {
  margin: 0;
  padding-bottom: 60px;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.company {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /*flex-basis: calc((100% - 210px) / 6);*/
}
.company__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  padding: 0px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .company {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .company {
    display: flex;
    flex-wrap: nowrap;
    max-height: 92px;
  }
}

.company__list-item {
  content: " ";
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 210px;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.company__list-item:hover, .company__list-item:focus {
  border-color: #2196f3;
}
.company__list-item:hover .company__icon, .company__list-item:focus .company__icon {
  fill: #2196f3;
}
@media screen and (min-width: 328px) and (max-width: 767px) {
  .company__list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .company__list-item {
    min-width: 226px;
    flex-basis: calc((100% - 30px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .company__list-item {
    min-width: 170px;
    flex-basis: calc((100% - 30px) / 6);
  }
}

.company__list-item:last-child {
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .company__list-item:last-child {
    margin-bottom: 0px;
  }
}

.client .section-titel {
  margin-bottom: 30px;
  margin-top: 60px;
}

/*заголовки і текст для всіх секцій*/
.advantage__section-tit {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .advantage__section-tit {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .advantage__section-tit {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__section-tit {
    text-align: left;
  }
}

.advantage__section-text {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .advantage__section-text {
    margin-bottom: 0px;
  }
}

.advantage__section-text,
.content__text {
  color: #212121;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.section-titel {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.content__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  text-decoration: none;
}

.work-content .section-text {
  color: #212121;
  margin-top: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}

.alist__comand-titel {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding: 0;
}

.alist__comand-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  padding: 0;
}

.conteiner .hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.icon-footer__tit,
.forma__footer-tit {
  color: #ffffff;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
}

.card-list__text {
  color: #f5f5f5;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 27px;
  padding: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.tumba__text {
  color: #f5f5f5;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  margin-top: 63px;
  margin-bottom: 63px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
}

.modal__textform {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  padding: 0;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.social-nav__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  padding: 0;
  /*color: $title-text-color;*/
  text-align: center;
  color: #2196f3;
}

/*футер*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #212121;
  font-family: Roboto, sans-serif;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 72px;
  }
}

.footer-tablet {
  padding-top: 0px;
}
@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    justify-content: flex-start;
    display: flex;
    align-items: baseline;
    margin-bottom: 0px;
  }
}

/*.bottom_address {
  @media screen and(min-width:768px) {
     margin-left: 76px;

}
}*/
@media screen and (min-width: 1200px) {
  .bottom.conteiner {
    display: flex;
  }
}

.address-list {
  /*max-width: 232px;
   justify-content: center;*/
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address-list {
    text-align: start;
    margin-right: 0px;
    margin-left: 0;
  }
}

.address-list__footer-address {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*max-width: 232px;
  text-align: center;
  justify-content: center;*/
}
.address-list__footer-address:hover, .address-list__footer-address:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .address-list__footer-address {
    max-width: auto;
  }
}

.address-list__footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*max-width: 232px;
  text-align: center;
  justify-content: center;*/
}
.address-list__footer-contact:hover, .address-list__footer-contact:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .address-list__footer-contact {
    max-width: auto;
  }
}

/*Футер, розмыщення*/
@media screen and (max-width: 768px) {
  .bottom__address {
    margin-bottom: 60px;
    min-width: 232px;
  }
}
@media screen and (min-width: 768px) {
  .bottom__address {
    align-items: baseline;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .bottom__address {
    display: block;
    align-items: baseline;
    margin-right: 94px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .bottom_address {
    margin-bottom: 60px;
    margin-right: 0px;
    margin-left: 76px;
    min-width: auto;
  }
}
.footer .logo {
  /* color: #2196f3;
  font-family: Raleway,sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.15;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: auto;*/
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer .logo {
    margin-left: 39px;
    max-width: 154px;
    margin-bottom: 28px;
    margin-top: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .logo {
    margin-left: 0px;
  }
}

.address-list__contact:not(:last-child) {
  margin-bottom: 9px;
}

/*Ікони соцмереж для футера*/
.icon-footer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .icon-footer {
    justify-content: flex-end;
    margin-right: 89px;
    max-width: 206px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-footer {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 94px;
  }
}

.icon-footer__tit {
  margin-bottom: 0px;
  height: 16px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .icon-footer__tit {
    text-align: left;
    margin-bottom: 0px;
  }
}

.forma__footer-tit {
  margin-bottom: 0px;
  height: 16px;
}
@media screen and (min-width: 1200px) {
  .forma__footer-tit {
    margin-right: 336px;
  }
}

.social-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-icon__icons {
  width: 44px;
  height: 44px;
  padding: 0;
}

.social-icon__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__link:hover {
  background-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .social-icon__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*Форма відправки*/
.forma {
  text-align: center;
  max-height: 156px;
}
@media screen and (min-width: 768px) {
  .forma {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .forma {
    max-height: 86px;
    max-width: 570px;
    width: 100%;
    /*margin-left: 93px;*/
  }
}

@media screen and (min-width: 1200px) {
  .form-send {
    /*display: flex;*/
    align-items: center;
  }
}

.form-forma {
  display: block;
}
@media screen and (min-width: 1200px) {
  .form-forma {
    display: flex;
    margin-top: 20px;
  }
}

.forma__buttonmail {
  display: inline-flex;
  justify-content: center;
  max-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  color: #f5f5f5;
}

.forma__icon-send {
  margin-left: 10px;
}

.form-send input {
  height: 50px;
  border-radius: 4px;
  padding-left: 10px;
  border-color: rgba(255, 255, 255, 0.3);
  background: #2f303a;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f5f4fa;
}
@media screen and (min-width: 320px) {
  .form-send input {
    max-width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1191px) {
  .form-send input {
    width: 358px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.form-send input:hover,
.form-send input:focus {
  border-color: #2196f3;
}

.form-send input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/*Модальне вікно*/
.backdrop {
  display: flex;
  position: fixed;
  width: 100%;
  height: 609px;
  top: 0;
  left: 0;
  opacity: 1;
  overflow-y: scroll;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  justify-content: center;
  align-items: center;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .backdrop {
    height: 528px;
    z-index: 999;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .is-hidden {
    display: flex;
  }
}

.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  /* justify-content: center;
  align-items: center;*/
  padding: 15px;
  transition: transfore 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    display: flex;
    max-height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: transparent;
  cursor: pointer;
}

.modal__icon-close {
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  transition: transfore 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close:hover,
.modal__icon-close:focus {
  fill: #2196f3;
}

/*Форма модалки*/
.modal__form {
  position: absolute;
  top: auto;
  right: auto;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  max-width: 448px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal__button-form {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  color: #f5f5f5;
  margin-bottom: 40px;
  margin-left: 100px;
}
@media screen and (min-width: 1200px) {
  .modal__button-form {
    margin-left: 124px;
  }
}

.modal__part-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  height: 58px;
}
@media screen and (min-width: 1200px) {
  .modal__part-form {
    display: flex;
  }
}

.modal__part-form input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  height: 40px;
  max-width: 448px;
  width: 100%;
}

.modal__input-form:focus,
.modal__input-form:hover {
  border-color: #2196f3;
}

.modal__input-form {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__part-form label {
  margin-bottom: 4px;
}

.modal__option input[type=checkbox] {
  width: 16px;
  height: 15px;
}

.modal__option {
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.modal__option label {
  font-size: 12px;
}

.contract {
  color: #2196f3;
  text-decoration: underline;
}

.modal__form-comment {
  margin-bottom: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .modal__form-comment {
    display: flex;
    flex-direction: column;
  }
}

.modal__comment {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px 12px 16px;
  min-width: 370px;
  height: 120px;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal__comment {
    min-width: 448px;
  }
}

.modal__comment {
  color: #757575;
}

textarea {
  resize: none;
}

.modal__comment:hover,
.modal__comment:focus {
  border-color: #2196f3;
}

.modal__form-comment textarea {
  padding-top: 11px;
  padding-left: 12px;
  border-radius: 4px;
}

.modal__checkbox {
  /*appearance: none;
  position: absolute;*/
  cursor: pointer;
}

.checkbox:checked + .modal__icon-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

modal__icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.modal__icon-checkbox {
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__input-form:focus ~ .modal__iconame,
.modal__input-form:focus ~ .modal__icotel,
.modal__input-form:focus ~ .modal__iconemail,
.modal__input-form:hover ~ .modal__iconame,
.modal__input-form:hover ~ .modal__icotel,
.modal__input-form:hover ~ .modal__iconemail {
  fill: #2196f3;
}

.modal__iconemail,
.modal__icotel,
.modal__iconame {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  fill: #212121;
  text-align: center;
}

/*мобільне меню*/
.menu-button {
  display: inline-flex;
  padding: 7px;
  border: none;
  background-color: transparent;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  max-width: 40px;
  max-height: 40px;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  width: 18.6px;
  height: 18.6px;
}

.menu-button .icon-menu {
  width: 24px;
  height: 16px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button .icon-cross:hover,
.menu-button .icon-cross:focus,
.menu-button .icon-menu:hover,
.menu-button .icon-menu:focus {
  color: #2196f3;
}

/*
.menu-container {
  position: fixed;
  top: 0%;
  left: 0;
  background-color: $primery-background-color;
  padding: 20px;
  font-size: 20px;
  width: 100vw;
  height: 100vh;

  transform: translateX(100%);
  transition: $cubic-bezier;

.menu-container.is-open{
  transform: translateX(0);
}}
*/
@media screen and (max-width: 767px) {
  .menu-container {
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 100vw; /* було 100%*/
    padding: 0px;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: inline-flex;
    padding: 0px;
    /*margin-bottom: 10px;*/
    text-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

.social-nav {
  display: flex;
  margin-bottom: 48px;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .social-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .social-nav {
    display: none;
  }
}

.social-nav__navigation {
  padding-right: 10px;
}

.social-nav__name {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding-right: 10px;
}
.social-nav__name:hover, .social-nav__name:focus {
  border-right: 1px solid #2196f3;
}

.social-nav__name:not(:last-child) {
  border-right: none;
  margin-right: 0px;
}

.menu-button.is-open .site-nav__navigation {
  justify-content: center;
  margin-right: 0px;
}/*# sourceMappingURL=main.css.map */