:root {
  --title-text-color: #212121;
  --primery-text-color: #757575;
  --acent-color: #2196f3;
  --acent-white-color: #f5f5f5;
  --secodary-button-color: #f5f4fa;
  --primery-background-color: #ffffff;
}

body {
  background-color: var(--primery-background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/*<span class="letter">HTML</span>*/

.list {
  list-style: none;
}

/* основний колір сторінки: background: #F5F5F5;*/
/* загаловки: color: #212121;*/
/* основний тексту: color: #757575;*/
/* колір посилань знизу: color: rgba(255, 255, 255, 0.6);*/
/* колір посилань зверху: color: #2196F3; */

/* логотип */
.logo {
  text-decoration: none;
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.15;
}

.studio-logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.15;
}

.studio-logos {
  color: var(--acent-white-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.15;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
}

.site-nav .link.current {
  color: var(--acent-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}

/* auth-nav*/
.auth-nav .link {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav:focus {
  color: var(--acent-color);
}

/* герой */
.hero {
  background-color: var(--title-text-color);
}

.hero-titel {
  color: var(--acent-white-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.button.primery {
  background: var(--acent-color);
  color: var(--acent-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.button.secondary {
  background: var(--secodary-button-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--acent-color);
  color: var(--primery-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*заголовки секцій*/
.section-tit {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.section-titel {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.comand-titel {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.comand-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/*футер*/
.footer {
  background-color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

.footer .footer-address {
  color: var(--acent-white-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.footer .footer-address:hover,
.footer .footer-address:focus {
  color: var(--acent-color);
}

.footer .footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.footer .footer-contact:hover,
.footer .footer-contact:focus {
  color: var(--acent-color);
}
