
/*Постійні клієнти*/
.client {
  margin: 0;
  padding-bottom: 60px;
  padding-top: 0px;
          
  @media screen and( min-width: 1200px ) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
  
  
.company {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /*flex-basis: calc((100% - 210px) / 6);*/
  
  &__icon {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
    padding: 0px;
    transition: fill $cubic-bezier;
    text-align: center;
    justify-content: center;
  }

        
  @media screen and (min-width: 768px) {
    justify-content: center;
    
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap; 
    max-height: 92px;
    
  }
}
  
.company__list-item {
  content: " ";
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 210px;
  width: 100%;
  transition: border-color $cubic-bezier;
  display: flex;
  justify-content: center;
  align-items: center;
 

  &:hover,
  &:focus {
    border-color: $acent-color;
  }

  &:hover .company__icon,
  &:focus .company__icon {
    fill: $acent-color;
  }

  @media screen and (min-width: 328px) and (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    min-width: 226px;
    flex-basis: calc((100% - 30px) / 4);
  }

  @media screen and (min-width: 1200px) {
    min-width: 170px;
    flex-basis: calc((100% - 30px) / 6);
  }
}

.company__list-item:last-child {
  margin-bottom: 60px; 

  @media screen and (max-width: 1199px) {
    margin-bottom: 0px;
  }
}

        
.client .section-titel {
  margin-bottom: 30px;
  margin-top: 60px;
}


 
  
 
   
  
  