
/*Постійні клієнти*/
.client {
    padding-bottom: 94px;
    padding-top: 94px;
    margin: 0;
  }
  
  .company {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    flex-basis: calc((100% - 250px) / 6);
  }
  
  .company__list-item {
    display: flex;
    content: " ";
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    transition: border-color $cubic-bezier;

      &:hover,
      &:focus {
        border-color: $acent-color;
      }

        &:hover .company__icon,
        &:focus .company__icon {
          fill: $acent-color;
        }

  }
   .company__icon {
    fill: #afb1b8;
    width: 106px;
    height: 60px;
    padding: 0px;
    transition: fill $cubic-bezier;
  }
  
  