
  /*мобільне меню*/
.menu-button {
  display: inline-flex;
  padding: 7px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 276px;
  max-width: 40px;
  max-height: 40px;
      
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross{
  width: 18.6px;
  height: 18.6px; 
}
.menu-button .icon-menu{
  width: 24px;
  height: 16px; 
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}


.menu-button .icon-cross:hover,
.menu-button .icon-cross:focus,
.menu-button .icon-menu:hover,
.menu-button .icon-menu:focus {
  color: $acent-color;
}
/*
.menu-container {
  position: fixed;
  top: 0%;
  left: 0;
  background-color: $primery-background-color;
  padding: 20px;
  font-size: 20px;
  width: 100vw;
  height: 100vh;

  transform: translateX(100%);
  transition: $cubic-bezier;

.menu-container.is-open{
  transform: translateX(0);
}}
*/
.menu-container {
  @media screen and (max-width: 767px) {
    background-color: $primery-background-color;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;/* було 100%*/
    padding: 0px;
    max-width: auto;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    padding: 0px;
    /*margin-bottom: 10px;*/
    text-align: center;
    align-items: center;
    
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

.social-nav {
  display: flex;
  margin-bottom: 48px;
  margin-left: 40px;
 
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.social-nav__navigation {
  padding-right: 10px;
}

.social-nav__name {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding-right: 10px;
  &:hover,
  &:focus {
    border-right: 1px solid $acent-color;
  }
}
.social-nav__name:not(:last-child) {
  border-right: none;
  margin-right: 0px;
}

.menu-button.is-open .site-nav__navigation {
  justify-content: center;
  margin-right: 0px;
} 
  

