  /* розміщення навігації + підкреслення*/
  .site-nav {
   
  &__navigation {
    margin-right: 50px;
    position: relative;
  }
  
  &__navigation:last-child {
    margin-right: 0px; 
    
 @media screen and(min-wight: 1200px){
    display: flex;
    margin-right: auto; }
    }
  }
 
  
  /*Іконики контактів*/
  .auth-nav__icon-mail {
    fill: #757575;
    width: 16px;
    height: 12px;
    padding: 0px;
    margin-right: 10px;
    transition: fill $cubic-bezier;
   
  .auth-nav__link:hover &,
  .auth-nav__link:hover & {
    fill: $acent-color;
   }
  }
  
  .auth-nav__icon-phone {
    fill: #757575;
    width: 10px;
    height: 16px;
    padding: 0px;
    margin-right: 10px;
    transition: fill $cubic-bezier;
 
  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: $acent-color;
  }
   }
  
  /* Хедер+auth-nav*/
  .auth-nav__link {
    color: $primery-text-color;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 500;
    transition: color $cubic-bezier;
  
  &:hover,
  &:focus {
    color: $acent-color;
  }

    @media screen and(max-width: 480px){
    .auth-nav__link  {
      font-size: 24px;
      line-height: 1.17;
    }

  }

  .auth-nav__current{
    @media screen and(max-widht: 480px) {
      font-size: 34px;
      line-height: 1.17;
    }
  }


  @media screen and(min-widht: 1200px){
    display: flex;
    align-items: center; 
   }
}

  /* розміщення контактів */
  .auth-nav {
    @media screen and(min-width: 768px){
    display: block;
    /* justify-content: center; */
    text-align: left;
    /*margin-left: 96px;*/}

  @media screen and(min-width: 1200px) {
    display: flex;
    margin-left: 315px;
    justify-content: center; 
  } 
}
   
    .auth-nav__contact {
      @media screen and(min-width: 480px) {
      margin-right: 50px;
      margin-bottom: 64px;
      padding-top: 32px;
      /*padding-top: 24px;
      padding-bottom: 25px;
      align-items: center;*/
    }
    
    @media screen and(min-width: 768px) and(max-width: 1199px){
      align-items: center;
      padding-bottom: 10px;
      margin-right: 0px;

     &:last-child {
       padding: 0px;
        }
      }

    @media screen and(min-width: 1200px){
      margin-right: 30px;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      }
  }
  
  .auth-nav__contact:last-child {
    margin-right: 0px;
  }
/*}*/